@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

h1{
    color: orangered;
}

body.light{
    color: black;
    background-color: white;
}

body.dark{
    color: white;
    background-color: black;
}

.active{
    text-decoration: underline;
}